@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.form-control:active,
.form-control:focus,
.form-control:focus:active {
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;
}

.check {
    height: 32px;
}

a {
    color: #a28300 !important;
}

.splneno {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    color: #a28300 !important;

    &:hover {
        * {
            transform: scale(1.2);
        }
    }

    * {
        padding: 5px;
        transition-duration: 0.1s;
    }
}

body.light_bg {
    background-color: #ffd800;

    .btn-primary {
        background-color: #242424;
        border: none;
        font-size: 18px;
        padding: 15px;

        &:hover {
            background-color: #3b3b3b;
        }
    }

    .padding50 {
        margin-top: 10%;
    }

    h1 {
        font-weight: bold;
        font-family: "PT Sans", sans-serif;
        font-size: 48px;
        text-align: center;
        color: #ffffff;
        text-decoration: overline;
    }

    p {
        font-family: 'PT Sans', sans-serif;
        color: black;
    }

    h4 {
        font-family: 'PT Sans', sans-serif;
        margin-top: 10%;
        font-size: 32px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
    }
}

body {
    background-size: cover;
    background-color: #0d0d0d;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
}

body {
    background-size: cover;
    background-repeat: none;
    background-color: #0d0d0d;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    transform: translateY(-80px);
    /*whatever width you want*/
}

body.svetle {
    background-color: #ffd800;
}

div.svetle {
    background-color: #ffd800;
}

canvas {
    visibility: hidden;
}

div.svetle #skutek {
    align-content: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vh;
    color: #2a2a2a;
}

div.svetle {
    align-content: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vh;
    color: #2a2a2a;
}

div.svetle h1 {
    font-family: 'PT Sans', sans-serif;
    margin-top: 10%;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding-top: 20px;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

p.svetle {
    color: #a28300;
}

button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    font-family: 'PT Sans', serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffd800;
    border: 0px solid #555;
    height: 60px;
    width: 200px;
    margin: 5px;
}

button:hover {
    background-color: #fcf551;
}

a {
    color: #bababa;
}

a.svetle {
    color: #000000;
}

@media screen and (min-width: 540px) {
    h1 {
        font-family: 'PT Sans', sans-serif;
        margin-top: 10%;
        font-size: 48px;
        text-align: center;
        color: #ffffff;
        text-decoration: overline;
    }
    #skutek {
        position: static;
        top: 50%;
        width: 100%;
        align-content: center;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 15vh;
        color: #ffffff;
    }
}

@media screen and (max-width: 540px) {
    h1 {
        font-family: 'PT Sans', sans-serif;
        margin-top: 10%;
        font-size: 32px;
        text-align: center;
        color: #ffffff;
        text-decoration: overline;
    }
    #skutek {
        position: static;
        top: 50%;
        width: 100%;
        align-content: center;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 10vh;
        color: #ffffff;
    }
}

#skutek.svetle {
    color: #2a2a2a;
}

@media screen and (min-width: 540px) {
    #license {
        position: fixed;
        bottom: 25px;
        left: 25px;
        width: 300px;
        font-family: monospace;
        font-size: 12px;
    }
    #menu {
        position: fixed;
        bottom: 25px;
        right: 25px;
        text-align: right;
        font-family: monospace;
        font-size: 12px;
    }
}

@media screen and (max-width: 540px) {
    #license {
        position: relative;
        bottom: 10px;
        font-family: monospace;
        font-size: 12px;
        text-align: center;
    }
    #menu {
        position: relative;
        bottom: 80px;
        text-align: center;
        font-family: monospace;
        font-size: 12px;
    }
}

@media screen and (min-width: 540px) {
    #par {
        text-align: justify;
        width: 60%;
        position: relative;
        left: 20%;
        color: #a0a0a0;
    }
}

@media screen and (max-width: 540px) {
    #par {
        text-align: justify;
        width: 90%;
        position: relative;
        left: 5%;
        color: #a0a0a0;
    }
}

.font-special {
    font-family: "Amatic SC", serif !important;
    font-size: 32px;
}

.alert {
    padding: 20px;
    background-color: #6e9f49;
    color: #ffffff;
}

.negative {
    background-color: brown;
    color: white;
}

strong {
    font-weight: bold;
}


.cards_container {
    columns: 6 350px;
    column-gap: 1rem;

    .card {
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: 100% !important;
    }
}


.card {
    border-color: #b59d00;
    border-radius: 15px;

    .contact-line {
        color: #3e3400;
        background-color: #f8f3da;
        padding: 5px;
        border-radius: 5px;
    }
}

.card-link {
    font-size: 14px;
}

.card-subtitle {
    font-size: 12px;
}

.card-text {
    text-align: left !important;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.card-img-top {
    border-radius: 15px 15px 0 0 !important;
}
